*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Fonts */

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2');
}

:root {
  --main-blue-color: #2b7fff;
  --main-dark-color: #011c44;
  --secondary-dark-color: #4a4a4a;
  --color-footer-light: #fff;
  --secondary-light-color: #747272;
}

ul {
  list-style-type: none;
}

/* Контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Base */

body {
  color: var(--main-dark-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* Flex-контейнер для header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  flex-grow: 1;
  flex-shrink: 0;
}

/* Логотип */
.logo img {
  height: 40px;
}

/* Меню */
.nav-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.header-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Контактні іконки */
.header-contacts {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  fill: var(--main-dark-color);
}

/* Links */

.link {
  color: var(--main-dark-color);
  text-decoration: none;
}

.link:hover {
  color: var(--main-blue-color);
  font-family: 'Roboto', sans-serif;
}

/* Section 1 */

.section-1-container {
  displey: flex;
}

.title-container {
  width: 529px;
  height: 408px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 113px 605px 138px 106px;
}
/* Button */

.buttom-container {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
}

.button {
  color: var(--main-light-color);
  background-color: var(--main-blue-color);
  border: 2px solid var(--main-blue-color);
  border-radius: 32px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
}

.button:hover {
  color: var(--main-blue-color);
  background-color: transparent;
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid var(--main-dark-color);
  cursor: pointer;
  fill: var(--main-dark-color);
}

.carousel-button:hover {
  background-color: var(--main-blue-color);
  fill: var(--color-footer-light);
  border: 1px solid var(--color-footer-light);
}

/* Title */

.section-title {
  padding: 272px 0;
  background-image: url('../image/backgroundsection-1.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.section1-title {
  padding-top: 16px;
  padding-bottom: 40px;
  color: var(--main-blue-color);
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  text-align: left;
  text-transform: capitalize;
}

.section1-subtitle {
  color: var(--secondary-dark-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 14px;
}

.section2-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 64px;
}

.section2-subtitle {
  font-size: 22px;
  line-height: 1.73;
}

.subtitle-section2 {
  padding: 40px 0px;
}

.section2-subtitle span {
  font-weight: 600;
  text-transform: capitalize;
}

.section3-title {
  margin-bottom: 48px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}

.section3-paragraph {
  line-height: 1.33;
  /* text-align: center; */
}

.section-3-container {
  displey: flex;
  max-width: 1060px;
  margin: 0px 90px;
}

.whycontent-container {
  display: flex;
  gap: 56px;
}

.card-container {
  display: flex;
  padding: 24px 32px;
  border: 1px solid var(--main-blue-color);
  background: var(--color-footer-light);
  border-radius: 32px;
  text-align: center;
}

.card-icon {
  width: 44px;
  height: 44px;
  fill: var(--main-blue-color);
}

.section5-paragraph {
  color: var(--color-footer-light);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin: 32px;
  padding: 48px 75px 381px 74px;
}

.section5-paragraph span {
  color: var(--main-blue-color);
}

/* Section-2 */

.about-container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.img-section-2 {
  max-width: 327px;
  max-height: 327px;
  border-radius: 50%;
}

.img-section-4 {
  border-radius: 120px 4px;
  max-width: 344px;
  max-width: 456px;
}

.content-container {
  max-width: 710px;
}

.img-container {
  max-width: 500px;
}

/* Sections */

h2 .accent-section1 {
  color: var(--main-blue-color);
}

h2 .accent-section3 {
  color: var(--main-blue-color);
}

h2 .accent-section4 {
  color: var(--main-blue-color);
}

h2 .accent-section5 {
  color: var(--main-blue-color);
}

.section-5-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: var(--color-footer-light);
}

.section-5-subtitle span {
  color: var(--main-blue-color);
}

.sections {
  padding-bottom: 96px;
}

.about {
  padding-bottom: 176px;
}

/* Section 5 */

.button-apply {
  color: var(--main-light-color);
  background-color: var(--main-blue-color);
  border: 2px solid var(--main-blue-color);
  border-radius: 32px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 32px;
}

.button-apply:hover {
  color: var(--main-blue-color);
  background-color: transparent;
}

.section-5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-light-color);
}

.section-5 span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.container-section-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-navigation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 422px;
  height: 482px;
  background-color: var(--main-dark-color);
  border-radius: 32px;
}

/* Footer */

.footer {
  background-color: var(--main-dark-color);
  color: var(--color-footer-light);
}

.footer a {
  color: var(--color-footer-light);
  text-decoration: none;
}

.accent-footer {
  color: var(--secondary-light-color);
  font-size: 13px;
}

.link-footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.link-footer:hover {
  color: var(--main-blue-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

address {
  font-style: normal;
}

.adress-icon {
  fill: var(--color-footer-light);
}
